#tlo {
	border-radius: 10%;
	background-color: #aaf;
	padding: 50px;
	z-index: 1;
}
#ekran {
	background-color: #0ff;
	margin: 0;
	border-radius: 15%;
	height: 200px;
	padding: 50px;
	font-size: 50px;
}
.zakupBiletu {
	display: inline-block;
	background-color: #9a7;
	border-radius: 10%;
	text-align: center;
	margin: 10px;
	padding: 50px;
	width: 100px;
}
#zp {
	display: inline-block;
	width: 20%;
	position: relative;
	bottom: 300px;
}
.zaplac {
	padding: 50px;
	width: 80%;
	background-color: #dd2;
	text-align: center;
	margin: 10px;
}
#wyborMonet {
	width: 400px;
	height: 400px;
	background-color: #ddd;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	visibility: hidden;
}
.moneta {
	background-color: gold;
	border-radius: 50%;
	display: inline-block;
	padding: 20px;
	width: 30px;
	height: 30px;
	margin: 5px;
	text-align: center;
}
